<h3>Update <%= @lesson.name %> </h3>

<form class="smallWrapper" action="/admin/lessons/<%= @lesson.id %>'" method="post">
  <input name="_method" type="hidden" value="patch">

  <label for="name">Lesson Name: </label>
  <input class="form-control" id="name" name="lesson[name]" type="text" value="<%= @lesson.name %>">

  <label for="text">Lesson Text: </label>
  <textarea class="form-control" rows="3" id="text" name="lesson[content]" type="text"><%= @lesson.content %></textarea>

  <select class="form-control" id="sectionId" name="lesson[section_id]" type="number">
    <% @sections.each do |section| %>
      <option value="<%= section.id %>" ><%= section.name %></option>
    <% end %>
  </select>

  <button class="btn btn-primary" type="submit">Edit</button>
</form>

<nav class="navbar navbar-fixed-bottom navbar-inverse" role="navigation">
  <div class="container">
    <div class="naviHeader">
       <ul class="nav navbar-nav navbar-right">
         <li><a href="/sections">table of contents</a></li>
       </ul>
      </div>
  </div>
</nav>
